.App {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.801);
  height: 100%;
  width: 100%;
}
.heading {
  position:relative;
  color: white;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%,-50%);
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(227, 223, 223, 0.5);
  z-index: 1000;
  backdrop-filter: blur(1px);
  display: flex;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width: 320px) {
  .App{
    height: auto;
    width: 100% ;
    }
    .heading{
      right: 33%;
      font-size: small;
    }
}
@media screen and (min-width: 321px) and (max-width:376px) {
  .App{
    height: auto;
    width: 100% ;
    }
    .heading{
      font-size: small;
      right: 34%;
    }
}
@media screen and (min-width:376px) and (max-width:426px) {
  .App{
    height: auto;
    width: 100% ;
    }
    .heading{
      right: 34%;
      font-size: medium;
    }
}

@media screen and (min-width:427px) and (max-width: 575px) {
  .App{
  height: auto;
  width: 100% ;
  }
  .heading{
    right: 37%;
    font-size: medium;
  }
}
@media screen and (min-width: 575px) and (max-width: 766px) {
  .App{
  height: auto;
  width: 100%;
  }
  .heading{
    right: 36%;
    font-size: medium;
  }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
 .App{
  height: auto;
  width: 100%;
 }
 .heading{
  right: 39%;
  font-size: medium;
}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .App{
    height: auto;
    width: 100%;
  }
  .heading{
    right: 41%;
    font-size: large;
  }
}
@media screen and (min-width: 1200px) {
  .App{
    height: auto;
    width: 100%;
  }
  .heading{
    right: 41%;
    font-size: large;
  }
}